body {
   background-color: #00cdcd;
   text-color: white;
}

#synthheader {
  background-color: #00cdcd;
  color: white;
  font-size: 80px;
  font-style: italic;
  display: flex;
  padding-left: 40px;
}
